body {

}
img {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.item {
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/* ==========================================
Text
========================================== */
.jumbotron {
  text-align: center;
  text-shadow: 10px 10px 20px grey;
}

.picturetitle {
  text-align: center;
  text-decoration: underline;
}
.projecttitle {
  text-align: center;
  text-decoration: underline;
}
.carousel-indicators {
  bottom: 0;
}
.carousel-indicators .active {
  background-color: black;
}
.carousel-indicators li {
  border-color: black;
}
